<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
  <%- include('./partials/header.ejs')  %> 
    <main>
      <section id="one">
        <% pokedex.forEach((element)=>{ %>
          <a href="/details/<%=element.id%>">
            <div class="card">
              <h2 class="name"><%=element.name%></h2>
              <img class="img" src="<%=element.img%>" alt="picture Pokemon <%=element.name%>" />
              <h3 class="type">Type: <%=element.type%></h3>
            </div>
          </a>
        <% }); %>
      </section>
    </main>
   <%- include('./partials/footer.ejs')  %>
  </body>
</html>